/* /Users/abiezerreyes/Projects/JewelryWebsite2/client/src/assets/styles/sharedStyles.css */

.section-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.info-container {
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(255, 182, 193, 0.15); /* Light Pink */
}

.info-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.checkbox-align {
  margin-left: 33%;
  margin-bottom: 1rem;
}

.primary-button,
.secondary-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary-button {
  background-color: #4caf50;
  color: white;
}

.primary-button:hover {
  background-color: #43a047;
  opacity: 0.9;
}

.secondary-button {
  background-color: #f76c6c;
  color: white;
}

.secondary-button:hover {
  background-color: #e76565;
  opacity: 0.9;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.loading-indicator {
  margin-top: 1rem;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

.address-confirmation-container {
  margin: 2rem auto;
  padding: 3rem;
  background-color: rgba(255, 182, 193, 0.15); /* Light Pink */
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.address {
  margin-bottom: 2rem;
}

.address h4 {
  margin-bottom: 1rem;
}

.address p {
  white-space: pre-line;
}
